body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #2c3e50, #34495e);
    color: #ecf0f1;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #1abc9c;
    color: #fff;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.server-info {
    margin: 20px 0;
    padding: 20px;
    background: #34495e;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #c0392b;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #2c3e50;
}

a {
    color: #1abc9c;
    text-decoration: none;
}

img {
    max-width: 100%; /* Limita el ancho al 100% del contenedor */
    height: auto;    /* Mantiene las proporciones de la imagen */
    border-radius: 10px; /* Opcional: esquinas redondeadas */
    margin-top: 10px; /* Espaciado opcional */
}